.calendarTable {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 80%;
    table-layout: fixed;
}

.daysInLastMonth {
    color: #919191    
}

.daysInNextMonth {
    color: #919191    
}

.header{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 5%;
}

.header-left-value{
    display: inline;
    margin: 5px;
}

.header-left{
    display: inline-block;
    text-align: center;
    width: 33%;
    height: 100%;
}
.header-center{
    display: inline-block;
    width: 33%;
}
.header-center-btn{
    width: 20%;
    margin:10px;
}

.header-right{
    display: inline-block;
    text-align: center;
    width: 33%;
    height: 100%;
}
.header-right-arrow{
    width: 33%;
    margin: 10px;
}

.col{
    vertical-align: top;
    text-align: right;
    padding: 10px;
    border: 1px solid #444444;
    height: 2em;
}
.col.daysInThisMonth.today{
    background-color: #fcf8e3;
}
